@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");
body,
html {
  height: 100%;
  margin: 0;
}
body {
  background: url("../images/bingo_filipino-wallpaper-1920x1080.jpg") fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  div._main-menu {
    //display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    .content {
      .row {
        aside {
          //border: 1px solid #000;
          .img {
            width: 50%;
            margin: 0px auto;
            user-select: none;
            img {
              width: 100%;
            }
          }
          ._menu {
            //margin-top: -50px;
            height: 608px;
            .bg-menu {
              background: url("../images/menu-template.jpg");
              min-height: 100%;
              background-position: center;
              background-repeat: repeat-y;
              position: relative;
              ul {
                width: 40%;
                position: absolute;
                top: 50%;
                left: 50%;
                list-style: none;
                transform: translateX(-50%) translateY(-50%);
                padding: 0px;
                li {
                  display: inline-block;
                  text-align: center;
                  width: 100%;
                  height: 60px;
                  line-height: 60px;
                  //border: 1px solid #123112;
                  margin: 15px 0px;
                  user-select: none;
                  cursor: pointer;
                  font-family: "Courier New", Courier, monospace;
                  font-size: 3em;
                  transition: all ease-in-out 0.3s;
                  //   &:hover {
                  //     border-bottom: 5px solid #fa9c44;
                  //     font-size: 3.3em;
                  //   }
                }
              }
              ._option {
                display: none;
                width: 40%;
                position: absolute;
                top: 50%;
                left: 50%;
                list-style: none;
                transform: translateX(-50%) translateY(-50%);
                padding: 0px;
                background: transparent;
                .box-body {
                  ._fm-gr {
                    input {
                      border-radius: 10px;
                    }
                    label {
                      border-bottom: 2px solid #fa9c44;
                    }
                  }
                }
                .box-footer {
                  background: transparent;
                  border-bottom: none;
                  label {
                    display: inline-block;
                    text-align: center;
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                    background: transparent;
                    border: none;
                    margin: 15px 0px;
                    user-select: none;
                    cursor: pointer;
                    font-family: "Courier New", Courier, monospace;
                    font-size: 5em;
                    transition: all ease-in-out 0.3s;
                    color: rgba(35, 250, 35, 0.876);

                    &:hover {
                      //border-bottom: 5px solid #fa9c44;
                      font-size: 5.5em;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    ._conf {
      .col-md-4 {
        .box {
          .box-footer {
            text-align: center;
            ._begin {
              cursor: pointer;
            }
          }
          .box-body {
            .form-group {
              div {
                ._left {
                  float: left;
                }
              }
            }
          }
        }
      }
    }
  }
  page[size="A4"] {
    page-break-after: always;
    //background: white;
    width: 210mm;
    height: 297mm;
    display: block;
    margin: 0 auto;
    //margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  }
  @media print {
    body,
    page[size="A4"] {
      margin: 0 auto;
      box-shadow: 0;
      //border: 1px solid #000;
      .bcard {
        border: 1px solid #000;
      }
    }
    ._control-btn {
      display: none;
    }
  }
}
page[size="A4"] {
  .bcard {
    width: calc(50% - 30px);
    height: calc(50% - 30px);
    float: left;
    box-shadow: 5px 0px 20px 0px rgba($color: #000000, $alpha: 0.86);
    margin: 15px;
    background: rgba(255, 255, 255, 0.5);
    .bcard-header {
      img {
        width: 100%;
      }
      text-transform: uppercase;
      letter-spacing: 3px;
      border-bottom: 5px solid rgb(54, 125, 240);
      text-align: center;
    }
    .bcard-body {
      //margin-top: 30px;
      table {
        background: rgba(211, 194, 140, 0.85);
        tr {
          td.free {
            font-size: 25px;
            background: #6ed1f7d9;
          }
          td {
            font-family: "Concert One", cursive;
            color: rgb(248, 60, 60);
            padding: 0;
            width: 20%;
            height: 68.82px;
            border: 2px solid #000;
            user-select: none;

            text-align: center;
            vertical-align: middle;

            font-variant: small-caps;
            font-weight: 900;
            font-size: 1.65em;
          }
        }
      }
      .footer {
        h6 {
          letter-spacing: 3px;
          margin-top: 24px;
          font-size: 0.6em;
          margin-left: 15px;
          font-variant: small-caps;
          user-select: none;
        }
      }
    }
  }
}
div._main-content {
  position: relative;
  display: none;
}
div._main-content {
  ._list-used-num {
    //display: block;
    width: calc(100% - (256px + 120px));
    min-height: 978px;

    float: right;
    .content {
      width: 100%;
      ._recent-num,
      ._used-num {
        width: 80%;
        margin: 0px auto;
        padding-bottom: 30px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 25px;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
        border-top: 5px solid rgba(68, 152, 231, 0.7);
        div {
          width: 100%;
          text-align: center;
          padding-top: 30px;
          h1 {
            font-variant: small-caps;
            font-weight: 400;
          }
        }
        ul {
          list-style: none;
          border-radius: 15px;
          width: calc(100px + 30px);
          height: 120px;
          margin: 0px auto;
          //background: rgba(0, 0, 0, 0.5);
          padding: 0px;
          li {
            float: left;
            text-align: center;
            width: 100px;
            height: 100px;

            border-radius: 50%;
            background: rgb(56, 56, 56);
            margin: 10px 15px;
            //box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
            position: relative;
            h1 {
              color: #fff;
              line-height: 100px;
            }
          }
        }
      }
      ._used-num {
        margin: 30px auto;
        display: inline-block;
        ul {
          margin-left: 15px;
          width: 100%;
          
          li::before {
            border-radius: 50%;
            content: "";
            display: block;
            position: absolute;
             left: 50%;
             top: 50%;
            height: 110px;
            width: 110px;
             margin-left: -55px;
             margin-top: -55px;
            opacity: 1;
            transition: all 300ms;
            animation: xoayyy 2s infinite;
          }
        }
      }
    }
  }
  ._control-btn {
    margin-left: 120px;
    margin-top: 120px;
    position: fixed;
    z-index: 99;
    .control {
      margin-left: 68px;
    }

    div {
      h1 {
        font-family: "Concert One", cursive;
        border-radius: 50%;
        // background: rgba(255, 255, 255, 0.85);
        // width: 256px;
        // height: 256px;
        line-height: 256px;
        text-align: center;
        margin-left: 30px;
        font-size: 100px;
        font-variant: small-caps;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

@keyframes xoayyy{
  0%{
    //transform: rotate(36deg);
    box-shadow: 0px 0px 15px 0px rgba(255, 231, 14, 0.75);
  }
  20%{
    //transform: rotate(72deg);
    box-shadow: 0px 0px 15px 0px rgba(255, 65, 65, 0.75);
  }
  40%{
    //transform: rotate(108deg);
    box-shadow: 0px 0px 15px 0px rgba(159, 15, 255, 0.75);
  }
  80%{
    //transform: rotate(144deg);
    box-shadow: 0px 0px 15px 0px rgb(34, 237, 255);
  }
  100%{
    //transform: rotate(180deg);
    box-shadow: 0px 0px 15px 0px rgba(239, 68, 255, 0.75);
  }
}

// For demo purposes
.skew-button {
  position: absolute;
  left: 50%;
  top: 50%;
}

// Skew button
// ==========================================================================
.skew-button {
  cursor: pointer;
  outline: none;
  transform: translate3d(-50%, -50%, 0);
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
  font: 1.7rem "Courier New", Courier, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000;

  // Text
  span {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    z-index: 3;
  }

  // Border
  &:before,
  span:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) skewX(-20deg);
    width: 100%;
    height: 50px;
    border: 1px solid #ff6906;
    z-index: 2;
  }

  span:before {
    display: block;
    transform: translate(-50%, -50%) skew(-20deg);
    transform-origin: center center;
    z-index: -1;
  }

  // Fill
  &:after {
    transition: all 100ms ease-out;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: skewX(-20deg) scaleX(0);
    width: 100%;
    height: 100%;
    background-color: #f0843c;
    border: 1px solid transparent;
    z-index: 1;
  }

  // Hover
  &:hover {
    span:before {
      font-size: 1.8rem;
      animation: fill 0.5s ease-out;
      animation-fill-mode: forwards;
    }

    &:after {
      animation: swoosh 0.7s ease-in;
    }
    span {
      font-weight: bold;
    }
  }

  // Active
  &:active {
    &:before {
      background-color: darken(#fa6914, 20%);
    }
  }
}

// Animation
// ==========================================================================
@keyframes swoosh {
  0% {
    transform-origin: left center;
  }

  20% {
    transform: skewX(-20deg) scaleX(1);
    transform-origin: left center;
  }

  21% {
    transform-origin: right center;
  }

  50% {
    transform: skewX(-20deg) scaleX(0);
    transform-origin: right center;
  }
}

@keyframes fill {
  0% {
    background-color: rgba(#e27013, 0);
  }

  20% {
    opacity: 0.5;
    border-width: 15px;
    border-color: darken(#e27013, 10%);
  }

  100% {
    opacity: 0.5;
    border-width: 1px;
    background-color: rgba(#e27013, 0.5);
  }
}

// Border Animation by yuku
#foo {
  width: 256px;
  height: 256px;
  background: rgba(255, 255, 255, 0.85);
  animation: corner 4s;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  margin: auto;
}
$s: 100% / 8;
$t: 0.001%;

@keyframes corner {
  #{$s * 0} {
    border-top-left-radius: 1% 50%;
  }
  #{$s * 1} {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  #{$s * 2} {
    border-top-right-radius: 1% 50%;
  }
  #{$s * 2 + $t} {
    border-top-right-radius: 50% 1%;
  }
  #{$s * 3} {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  #{$s * 4} {
    border-bottom-right-radius: 50% 1%;
  }
  #{$s * 4 + $t} {
    border-bottom-right-radius: 1% 50%;
  }
  #{$s * 5} {
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  #{$s * 6} {
    border-bottom-left-radius: 1% 50%;
  }
  #{$s * 6 + $t} {
    border-bottom-left-radius: 50% 1%;
  }
  #{$s * 7} {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
  }
  #{$s * 8} {
    border-top-left-radius: 50% 1%;
  }
}


// Scroll bar
::-webkit-scrollbar {
  background-color: #111111;
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(120deg, #ee952f 0%, #fdbf78 100%);
  border-radius: 7px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(to top, #406af5 0%, #124490 99%, #1e66d3 100%);
}

// Animation Circle

.circle {
  position: relative;
  background: linear-gradient(0deg, #000, #272727);
  border-radius: 50%;
}

.circle:before,
.circle:after {
  border-radius: 50%;
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: steam 10s linear infinite;
  z-index: -1;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.circle:after {
  filter: blur(10px);
}
